@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*Tạo view Create.cshtml để thêm mới dữ liệu 1 sinh viên (Sinh viên tự xây dựng)
Áp dụng vào thực hiện các yêu cầu sau: (chức năng sửa và xoá dữ liệu sẽ hướng dẫn sau).
Tạo các class Employee.cs, Person.cs, Customer.cs sau đó sử dụng code first để ánh xạ vào database.
2. Xây dựng Các chức năng CRUD dữ liệu với các đối tượng trên.*@
<form>
    <label>Nhap ho ten sinh vien: </label>
    <input type="text" name="StudentName" />
    <br />
    <label>Nhap ma so sinh vien: </label>
    <input type="number" name="StudentID" />
    <br />
</form>